.profile {
    position: relative;
    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: #EBEBEB;
    box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    -webkit-box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    -moz-box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.newpeople {
    position: absolute;
    left: 70%;
    top: 10%;
    background-color: aqua;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.avatar {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
}