.profile {
    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: #EBEBEB;
    box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    -webkit-box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    -moz-box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    border-radius: 20px;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;

}