.profile {
    position: relative;
    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: #EBEBEB;
    box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    -webkit-box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    -moz-box-shadow: 1px 1px 81px 8px rgba(145, 140, 140, 0.39);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.newpeople {
    position: absolute;
    left: 70%;
    top: 10%;
    background-color: aqua;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.avatar {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgb(215, 127, 12);
}

.counter:hover {
    background-color: rgb(246, 243, 197);
}

.number {
    font-size: 7rem;
}

.button {
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(215, 127, 12);
    background: linear-gradient(90deg,
            rgba(215, 127, 12, 1) 0%,
            rgba(253, 220, 29, 1) 100%);
}

.total {
    font-size: 1rem;
    margin-left: -1.5rem;
}